@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-size: 12px;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}

.bg-grid {
  background-size: 24px 24px;
  background-image: radial-gradient(circle, #e5e7eb 1px, transparent 1px);
}

.material-symbols-outlined {
  font-size: 16px;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 20;
}
.icon-filled {
  font-variation-settings: 'FILL' 1;
}